[submodule "ew401-fa2020-report"]
	path = ew401-fa2020-report
	url = git@github.com:usna-turtlebot-2021/ew401-fa2020-report.git
[submodule "test-matlabfinmodel-fa2020"]
	path = test-matlabfinmodel-fa2020
	url = git@github.com:usna-honorsfish-2021/test-matlabfinmodel-fa2020.git
